/* added by malak lel form w msh shaghal */
body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #ffffff;
    color: #FFF;
}
.form-box .h3{
    color: #fff;
    margin-bottom: 5%;
}
.form-check-label{
    color: white;
    padding-left: 15%;
}
.checkBoxService{
    display: flex;
    justify-content: left;
    align-items: center;
}
.checkBoxService:last-of-type{
    margin-bottom: 50px;
}

#popupCard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 9999; /* Ensure the card is on top of other elements */
    border: #4c4d56;
  }

  #popupCard2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 9999; /* Ensure the card is on top of other elements */
    border: #4c4d56;
  }

  #popupCard3 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 9999; /* Ensure the card is on top of other elements */
    border: #4c4d56;
  }
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.display-area {
width: 50px;
background-color: #fff;
}
.form-check-input {
    width: 2px;
    height: 2px;
    margin-right: 8px;
}
/* Style the dropdown button */
.dropdown .btn {
background-color: #fff;
color: #000;
border: 1px solid #f8f5f5;
border-radius: 4px;
padding: 10px;
font-size: 16px;
}

/* Style the dropdown menu */
.dropdown-menu {
background-color: #fff;
border: 1px solid #f7f6f6;
border-radius: 4px;
padding: 0;
}

/* Style the dropdown menu items */
.dropdown-menu .dropdown-item {
padding: 10px;
font-size: 16px;
color: #000;
}

/* Style the dropdown menu items on hover */
.dropdown-menu .dropdown-item:hover {
background-color: #fffbfb;
}

/* Style the active dropdown menu item */
.dropdown-menu .dropdown-item.active {
background-color: #007bff;
color: #fff;
}


.card button {
    display: block;
    background-color: #3c3d48;
    color: rgb(151, 214, 233);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.card button:hover {
    background-color: #4c4d56;
}
