body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #ffffff;
}
.form-box .h3{
    color: #fff;
    margin-bottom: 5%;
}
.form-check-label{
    color: white;
    padding-left: 15%;
}
.checkBoxService{
    display: flex;
    justify-content: left;
    align-items: center;
}
.checkBoxService:last-of-type{
    margin-bottom: 50px;
}